body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 200px;
  background: royalblue;
  box-sizing: border-box;
  flex-wrap: nowrap;
  align-self: stretch; 
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-left: 16px;
  width: 200px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: 10px;
  align-items: flex-start;
}

.card { 
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex: 0 0 25%;
  padding: 16px;
  min-width: 200px;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.mid-content {
  display: flex;
  flex: 1;
}