body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding-top: 5px;
  padding-bottom: 2px;
}

.title {
  background: #e3f4ff;
  margin: 16px;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 25px;
}

.button-container {
  background: #e3f4ff;
  margin: 16px;
  text-align: center; 
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 160px;
  padding: 10px;
  margin-bottom: 10px;
}